:root {
    --main-width: 85vw;
    --title-color: #C71585;
    --bg-color: white;
    --text-color: #212121;

}

@media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #212121;
      --title-color: #FF69B4;
      --text-color: white;
    }
}

/* large screen */
@media only screen and (min-width: 868px) {
    :root {
        --main-width: 50vw;
    }
}
  

html {
    font-family: system-ui;
    scroll-behavior: smooth;
    color: var(--text-color);
}
  
body {
    max-width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
    line-height: 1.65
}

h3 {
    font-weight: normal;
    color: var(--title-color)
}
a {
    color: dodgerblue;
    text-decoration: none;
    transition: ease 250ms
}
a:hover {
    color: var(--title-color);
    text-decoration: underline;
}

h1, h2 {
    font-weight: 600;
    color: var(--title-color)
}

h1 {
    line-height: 2;
}